@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
	{
		Layout = parentLayout.ToString();
	}
	else
	{
		Layout = "/Pages/Shared/_Layout.cshtml";
	}
}

<h1>Librarian</h1>

<div class="container-lg">
	<h2 class="text-center">Manage application database</h2>
	<hr />
	<div class="row">
		<div class="col">
			<partial name="_AdminNav" />
		</div>
		<div class="col-10">
			@RenderBody()
		</div>
	</div>
</div>

