@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to E-Library</h1>
	<p>Before start using app choose:</p>
	<div class="d-flex gap-3 justify-">
		<a href="/login" class="link-info">Log in</a>
		<a href="/signin" class="link-warning">Become a member</a>
	</div>
</div>
