@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}

<h1>Manage your account</h1>

<div class="container">
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col">
            <partial name="_ManageNav" />
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
